*{
    font-family:Georgia, 'Times New Roman', Times, serif;
}
div a{
    text-decoration: none;
}
a {
    color: white;
}
#brand{
    font-size: 2.5em;
}
a:hover{
    color: black;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
div a img{
    width: 100%;
}
#receita{
    background-color: #6c757d38;
    font-size: 1.5em;
}   
h3{
    background-image: linear-gradient(to right,#6c757d, transparent);
    margin-top: 10px;
    font-size: 1.5em;
    line-height: 1.3em;
}
h2{
    text-align: center;
    font-size: 2em;
    line-height: 2em;
}
p{
    font-size: 1em;
    line-height: 2em;
}
li{
    line-height: 2em;
}
nav{
    min-height: 150px;
}

section > p {
    font-size: 1.3em;
    text-align: justify;
}

footer{
    background-color: #6c757d;
    font-size: 0.8em;
    margin-top: 20px;
    color: white;
}